[project]
	description = Basic Object Oriented Implementation In C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pankajku9
[access "refs/for/refs/*"]
	read = group user/pankajku9
	push = group user/pankajku9
	label-Code-Review = -2..+2 group user/pankajku9
	label-Verified = -1..+1 group user/pankajku9
	rebase = group user/pankajku9
	removeReviewer = group user/pankajku9
	submit = group user/pankajku9
[access "refs/heads/*"]
	read = group user/pankajku9
	create = group user/pankajku9
	push = +force group user/pankajku9
	pushMerge = group user/pankajku9
[access "refs/tags/*"]
	push = group user/pankajku9
	push = +force group user/pankajku9
